.Side
  content ''
  position absolute
  top 0
  right 0
  bottom var(--youtube-immersive--side-bottom, 0)
  width var(--youtube-immersive--side-size)

.Resizer
  pointer-events auto
  cursor col-resize
  position absolute
  left 0
  width 0
  height 100%
  border-left solid 4px transparent
  &:hover
    border-left-color white

.PullTabContainer
  content ''
  position absolute
  right 0
  width 200px
  height 100%

  display flex
  flex-direction column
  justify-content center
  align-items flex-end

.PullTab
  content ''
  pointer-events auto
  height 5em

  border-radius .5em
  border-top-right-radius 0
  border-bottom-right-radius 0

.HideToRight
  transform translateX(100%)
  transition-duration .125s

.Controls
  content ''
  pointer-events auto
  min-height var(--youtube-immersive--header-size)

  padding 0 1.2em

  display flex
  align-items center

.PinButton
  all unset
  content ''
  pointer-events auto

  margin-right .2em
  padding .2em .2em
  background rgba(0, 0, 0, .05)
  color var(--yt-spec-base-background)
  border-radius .2em
  border dashed 1px var(--yt-spec-base-background)
  font-size 1.8em

  &.Pinned
    background var(--yt-spec-text-primary)
    border solid 1px var(--yt-spec-base-background)

.OverrideOriginal
  position absolute
  top 0
  right 0
  bottom var(--youtube-immersive--side-bottom)
  width var(--youtube-immersive--side-size)
  min-width 0 !important

  margin 0 !important

  overflow-x hidden
  overflow-y auto

  &.Pinned
    height 100vh

  > *
    visibility hidden

  :global
    #primary
      flex unset !important
      min-width 0 !important

      margin 0 !important
      padding 0 !important
    #below
      position absolute !important
      width var(--youtube-immersive--side-size) !important

.Below
  position absolute !important
  width var(--youtube-immersive--side-size) !important
