.Side
  content ''

.PinButton
  content ''
  pointer-events auto

.OverrideOriginal
  position absolute
  top 0
  right 0
  width var(--youtube-immersive--side-size)
  min-width 0 !important
  height calc(100vh - 55px)

  margin 0 !important

  overflow auto

  > *
    visibility hidden

  &::-webkit-scrollbar
    width 4px
    height 4px
  &::-webkit-scrollbar-thumb
    background white

  :global
    #primary
      flex unset !important
      min-width 0 !important

      margin 0 !important
      padding 0 !important
    #below
      position absolute !important
      width var(--youtube-immersive--side-size) !important

.Below
  position absolute !important
  width var(--youtube-immersive--side-size) !important
