import clsx from "clsx";
import {
  ComponentProps,
  JSX,
} from "solid-js";

import { stylx } from "@/fn/stylx";

import styles from "./{{properCase name}}.module.styl";

export const {{properCase name}} = (
  p: ComponentProps<"div">
): JSX.Element => {

  return (
    <div
      {...p}
      class={clsx(styles.{{properCase name}}, p.class)}
      style={stylx(p.style)}
    >
      
    </div>
  );
};
