.VisibilitySwitchOption
  content ''
  pointer-events auto

.OptionalContent
  visibility visible
  position absolute
  top 50px
  left 0
  width var(--youtube-immersive--side-size) !important

  margin 0 !important
  padding 0 !important
  padding-right 25px !important
  box-sizing border-box

.Hidden
  visibility hidden
