.Header
  content ''
  position sticky
  top 0
  width 100%
  height var(--original-height)

  display flex
  justify-content center
  align-items flex-start

.HideToTop
  transform translateY(-100%) !important
  transition-duration .125s

.PullTab
  content ''
  pointer-events auto

  border-radius .5em
  border-top-left-radius 0
  border-top-right-radius 0
  border-top-width 0


.OverrideOriginal
  z-index 10001 !important
  :global
    #background
      background rgba(0, 0, 0, .45) !important

.IgnoreHeaderMargin
  margin-top 0 !important
