import {
  ReactNode,
} from "react";

import styles from "./{{properCase name}}.module.scss";

/**
 * [URL: ここにURLを記入] で表示されるページ
 */
const {{properCase name}} = (): ReactNode => {

  return (
    <main
      className={ styles.{{properCase name}} }
    >
    </main>
  );
};

export default {{properCase name}};
