.Main
  content ''

.OverrideOriginal
  position sticky
  top 0
  :global
    .ytp-progress-bar-container
      position relative
      bottom 0
    .ytp-chapter-hover-container
      width 100% !important
    .ytp-chrome-bottom
      padding 0px 12px !important
      box-sizing border-box !important
