.Main
  content ''

.OverrideOriginal
  position fixed !important
  top 0 !important
  left 0 !important
  width 100% !important
  height 100vh !important
  max-height 100vh !important

  &.Pinned
    width calc(100% - var(--youtube-immersive--side-width)) !important

.Video
  inset 0 !important
  width 100% !important
  height 100vh !important
  object-fit contain !important

.YtpChromeBottom
  left 0 !important
  width 100% !important

  padding 0 .2em !important
